html{
    font-size:62.5%;
}

header {
    font-size:2rem;
    background-color: #6ccdd5;
}

.login {
    text-align: center;
    padding:1rem;
}

.signin {
    position: absolute;
    padding: 1rem;
}

.close {
    float: right;
    padding: 1rem;

}