$color-blue : #6ccdd5;
$color-gray : #eaeaea;
$color-white :#ffffff;
$max-width : 640px;
$border-line : 1px solid;

html {
  font-size:625%;
}

body {
  margin: 0 auto !important;
  max-width: $max-width;
  background-color: $color-gray;
}
main {
  background-color: $color-white;
}
/*head*/
.top {
  width: 100%;
  background-color: $color-blue;
  height: .3rem;
  line-height: .3rem;
  position: fixed;
  top: 0;
  z-index: 100;
  max-width: $max-width;
}

.top-air {
  float: left;
  font-size: .1rem;
  color: $color-white;
  text-decoration: none;
  padding-left: .07rem;
}

.top-center {
  font-size:.15rem;
  position: fixed;
  left: 50%;
  margin-top: -.15rem;
  margin-left: -.35rem;
  color: $color-white;
}

/*main*/

/*main-top*/
.main-top {
  height: 1.5rem;
  width: 100%;
  margin-top: .29rem;
  position: relative;
  background: url("img/doctor.png") no-repeat;
  background-size: cover;
}

.main-top-left {
  position: absolute;
  left: -30px;
  top:-9px;
}
.main-top-left > img {
  transform: scale(.5,.5);
}

.main-top-right {
  color: $color-white;
  position: absolute;
  left: 1.3rem;
  top: 0.3rem;
}

.top-p1 {
  font-size: .16rem;
}

.top-p2 {
  background: url("img/Shape1.png") no-repeat;
  background-size: .1rem;
  font-size: .05em;
}

.top-p2-p {
  position: relative;
  left: 0.15rem;
}

/*main-mid*/

.main-mid {
  height: .4rem;
  border: $border-line $color-gray;
}

.main-mid-p {
  font-size: .14rem;
  margin-left: .1rem;
  padding-left: .1rem;
  border-left: $border-line $color-blue ;
}

/*main-bottom*/

.star1,
.star2 {
  display: inline-block;
  background: url("img/star.png") no-repeat left ;
  background-size: .15rem;
  padding-left: .18rem;
  line-height: .2rem;
}

.star1 {
  border-right: $border-line $color-gray;
  padding-right: .2rem;
}
ul {
  font-size: .14rem;
  //padding-bottom: .4rem;
  padding: 0 .1rem .4rem .1rem ;
  margin: 0;
  background-color: $color-white;
}

li {
  list-style: none;
  border-bottom: $border-line $color-gray;
  margin-left: .1rem;
  margin-right: .1rem;
  position: relative;
  padding: .08rem;
}
.mid-left {
  position: absolute;
  top: 50%;
  margin-top: -0.1rem;
  border-right: $border-line $color-gray ;
  padding-right: .2rem;
}

.mid-right {
  /*position: absolute;*/
  display: inline-block;
  line-height: .3rem;
  padding-left: 1rem;
}

.mid-right-p {
  font-size: .1rem;
  line-height: .2rem;
}

.mid-right-a {
  font-family: sans-serif;
  color: #ff0000;
}

/*footer*/

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: $max-width;
  display: flex;
  justify-content: space-around;
  height: .4rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  background-color: $color-white;
  border-top: $border-line $color-gray;
}

.under-left,
.under-right {
  border: $border-line $color-blue;
  border-radius: .05rem;
  width: 45%;
  background-color: $color-white;
  color: $color-blue;
  cursor: pointer;
}

.under-right {
  border: none;
  background-color: $color-blue;
  color: $color-white;
}