html {
    font-size: 15px;
}
body {
    background-color: #6ccdd5;
    margin: 0;
    color: #fff;
    font-size: 1.5rem;
}
.mirror {
    position: relative;
    padding:3rem;
}
.arrow {
    padding: 0.1rem;
    position: relative;
}

h2 {
    line-height: 5rem;
    text-align: center;

}
p {
    line-height:2.5rem;
    font-weight:lighter;

}
.foot {
    padding: 3.5rem 0 0 0 ;
    text-align: center;

}

.user{
    float: left;
}

.company {
    float: right;
}