html {
    font-size: 62.5%;
}
body {
    background-color: #6ccdd5;
    margin: 0;
    color: #fff;
    font-size: 1rem;
}
.mirror {
    position: relative;
    padding:2rem;
}
.arrow {
    padding: .5rem 0 0 0 ;
    position: relative;
}

h2 {
    line-height: 3rem;
    text-align: center;
    padding:2rem;
}
p {
    line-height:3rem;
    font-size: 1.5rem;
    padding: 0 1rem;
}
.foot {
    padding: 3.5rem 0 0 0 ;
    text-align: center;
}

.user{
    float: left;
    margin: 13rem 0 5rem 2rem;
}

.company {
    float: right;
    margin: 13rem 2rem 5rem 0 ;

}